@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --nord-0: #2e3440;
  --nord-1: #3b4252;
  --nord-2: #434c5e;
  --nord-3: #4c566a;
  --nord-4: #d8dee9;
  --nord-5: #e5e9f0;
  --nord-6: #eceff4;
  --nord-7: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-9: #81a1c1;
  --nord-10: #5e81ac;
  --nord-11: #bf616a;
  --nord-12: #d08770;
  --nord-13: #ebcb8b;
  --nord-14: #a3be8c;
  --nord-15: #b48ead;

  --nord-fg0: var(--nord-0);
  --nord-fg1: var(--nord-1);
  --nord-fg2: var(--nord-2);
  --nord-fg3: var(--nord-3);

  --nord-bg0: var(--nord-6);
  --nord-bg1: var(--nord-5);
  --nord-bg2: var(--nord-4);

  --nord-teal: var(--nord-7);
  --nord-aqua: var(--nord-8);
  --nord-blue-light: var(--nord-9);
  --nord-blue-dark: var(--nord-10);

  --nord-red: var(--nord-11);
  --nord-orange: var(--nord-12);
  --nord-yellow: var(--nord-13);
  --nord-green: var(--nord-14);
  --nord-purple: var(--nord-15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nord-bg0: var(--nord-3);
    --nord-bg1: var(--nord-2);
    --nord-bg2: var(--nord-1);
    --nord-bg3: var(--nord-0);

    --nord-fg0: var(--nord-6);
    --nord-fg1: var(--nord-5);
    --nord-fg2: var(--nord-4);
  }
}

body {
  color: var(--nord-fg0);
  background-color: var(--nord-bg1);
}
